!.gitignore
*.la
Makefile
config.*
libtool

alsalisp/alsalisp
aserver/aserver
doc/doxygen.cfg
include/alsa
include/asoundlib.h
include/stamp-h1
include/stamp-vh
include/version.h
src/Versions
utils/alsa-lib.spec
utils/alsa.pc

