!.gitignore
*.la
Makefile
config.*
libtool

alsaconf/alsaconf
alsactl/90-alsa-restore.rules
alsactl/alsactl
alsaloop/alsaloop
alsaucm/alsaucm
amidi/amidi
amixer/amixer
aplay/aplay
iecset/iecset
include/aconfig.h
include/stamp-h1
po/Makefile.in
po/POTFILES
seq/aconnect/aconnect
seq/aplaymidi/aplaymidi
seq/aplaymidi/arecordmidi
seq/aseqdump/aseqdump
seq/aseqnet/aseqnet
speaker-test/speaker-test
utils/alsa-utils.spec

