ACTION=="add", SUBSYSTEM=="sound", KERNEL=="controlC*", KERNELS!="card*", GOTO="alsa_restore_go"
GOTO="alsa_restore_end"

LABEL="alsa_restore_go"
TEST!="/etc/alsa/state-daemon.conf", RUN+="/home/ck/mini2440-bsp/alsa-utils/../output/rootfs/usr/sbin/alsactl restore $attr{number}"
TEST=="/etc/alsa/state-daemon.conf", RUN+="/home/ck/mini2440-bsp/alsa-utils/../output/rootfs/usr/sbin/alsactl nrestore $attr{number}"

LABEL="alsa_restore_end"
